extends ../../../views/layout
block content
  #paginaDonacion
    h1 Ayuda Conexión - Apóyanos
    p klfdklsdflk sdklfkjf sdlkfklf sklfsklfsdklf sdklfsdlkjf sdklfsldkf sfkdfklsdfjsd ksldfkl ldkfsdlkf dsklsdflksdfksdlf sdklfsdlkfsdfj klfdklsdflk sdklfkjf sdlkfklf sklfsklfsdklf sdklfsdlkjf sdklfsldkf sfkdfklsdfjsd ksldfkl ldkfsdlkf dsklsdflksdfksdlf sdklfsdlkfsdfj klfdklsdflk sdklfkjf sdlkfklf sklfsklfsdklf sdklfsdlkjf sdklfsldkf sfkdfklsdfjsd ksldfkl ldkfsdlkf dsklsdflksdfksdlf sdklfsdlkfsdfj klfdklsdflk sdklfkjf sdlkfklf sklfsklfsdklf sdklfsdlkjf sdklfsldkf sfkdfklsdfjsd ksldfkl ldkfsdlkf dsklsdflksdfksdlf sdklfsdlkfsdfj klfdklsdflk sdklfkjf sdlkfklf sklfsklfsdklf sdklfsdlkjf sdklfsldkf sfkdfklsdfjsd ksldfkl ldkfsdlkf dsklsdflksdfksdlf sdklfsdlkfsdfj 
     
    #formulario
      form(method="POST" action="/hacerdonacion") 
        input(type="text" name="nombre" placeholder="NOMBRE" required)
        input(type="text" name="apellido" placeholder="APELLIDO" required)           
        input(type="tel" name="telefono" placeholder="TELEFONO")
        input(type="email" name="email" placeholder="CORREO ELECTRONICO" required)
        span ¿CÓMO QUIERES AYUDARNOS?
        #opciones
          #tiempo 
            label.checkboxDonacion
              input(type="checkbox" name="tiempo")
              span
            span  &nbsp; EN TIEMPO
          #especie
            label.checkboxDonacion
              input(type="checkbox" name="especie")
              span
            span  &nbsp; EN ESPECIE
          #dinero 
            label.checkboxDonacion
              input#checkDinero(type="checkbox" name="dinero")
              span
            span  &nbsp; EN DINERO
        input#cantidad(type="number" name="cantidad" placeholder="CANTIDAD A DONAR" style="display:none")
        textarea.form-control(rows="5" name="comentario" placeholder="COMENTARIO")
        button.btn(type="submit")
          b OK 

    #confirmacion
      if datosDonacion && datosEncryptados
        script(type="text/javascript").
          vistaDonacion=true;
        form(method="POST" action="https://50.57.192.214/AddcelColombiaWeb/login")
          input(type="hidden" name="json" value=datosEncryptados.json)
          input(type="hidden" name="comercio" value=datosEncryptados.comercio)
          h4 Estos son los datos que ingresaste - ¿Deseas Continuar?
          .rosado NOMBRE: 
          .gris &nbsp; #{datosDonacion.nombre}
          br
          .rosado APELLIDO: 
          .gris &nbsp; #{datosDonacion.apellido}
          br
          .rosado TELEFONO:
          .gris &nbsp; #{datosDonacion.telefono}
          br
          .rosado CORREO ELECTRONICO:
          .gris &nbsp; #{datosDonacion.email} 
          br
          .rosado AYUDAR CON:
          .gris 
            if datosDonacion.tiempo
              |&nbsp; Tiempo
            if datosDonacion.especie
              |&nbsp; Especie
            if datosDonacion.dinero
              |&nbsp; Dinero
          br
          if datosDonacion.dinero
            .rosado CANTIDAD A DONAR:
            .gris #{datosDonacion.cantidad}
            br
          .rosado COMENTARIO:
          .gris &nbsp; #{datosDonacion.comentario}
          button.btn#botonSiDonar(type="submit") 
            b SI 
          button.btn#botonNoDonar(type="button" onclick="location.href='/hacerdonacion'")
            b NO 