extends ../../../views/layout
block content
  #slider 
    #sliderImagenes.wrapper
      ul#sb-slider.sb-slider

      #shadow.shadow

      #nav-arrows.nav-arrows
        a(href="#") Next
        a(href="#") Previous

      #nav-dots.nav-dots
        span.nav-dot-current
        span
        span
        span
        span
        span
        span
      
  #seccionesPrincipales
    #cards
      #cardFisico.card 
        .contenidoCard
          if paginas[0].linkImagen
            .imagenDescripcion
              img(src=paginas[0].linkImagen)
            .descripcion 
              p #{paginas[0].descripcion}
          else 
            .descripcionSinImagen
              p #{paginas[0].descripcion}
        a(href="/"+paginas[0].nombreEnlace) 
         .leerMas LEER +

      #cardEmocional.card
        .contenidoCard
          if paginas[1].linkImagen
            .imagenDescripcion
              img(src=paginas[1].linkImagen)
            .descripcion 
              p #{paginas[1].descripcion}
          else 
            .descripcionSinImagen
              p #{paginas[1].descripcion}
        a(href="/"+paginas[1].nombreEnlace) 
         .leerMas LEER +

      #cardEspiritual.card
        .contenidoCard 
          if paginas[2].linkImagen
            .imagenDescripcion
              img(src=paginas[2].linkImagen)
            .descripcion 
              p #{paginas[2].descripcion}
          else 
            .descripcionSinImagen
              p #{paginas[2].descripcion}
        a(href="/"+paginas[2].nombreEnlace) 
         .leerMas LEER +

      -contador=3
      while contador < 8
        .card
          .contenidoCard 
            if paginas[contador].linkImagen
              .imagenDescripcion
                img(src=paginas[contador].linkImagen)
              .descripcion 
                p #{paginas[contador].descripcion}
            else 
              .descripcionSinImagen
                p #{paginas[contador].descripcion}
          a(href="/"+paginas[contador].nombreEnlace) 
            .leerMas LEER +
        -contador++

  #masContenido
      #linea1
      a(href="/todocontenido") 
        #centro
          b MAS CONTENIDO +
      #linea2
        button.btn.btn-primary.scrollup(type="button") 
         b SUBIR