extends ../../../views/layout
block content
  script(type="text/javascript").
    homeCargado=true;
  #slider 
    #sliderImagenes.wrapper
      ul#sb-slider.sb-slider

      #shadow.shadow

      #nav-arrows.nav-arrows
        a(href="#") Next
        a(href="#") Previous

      #nav-dots.nav-dots
        span.nav-dot-current
        span
        span
        span
        span
        span
        span
      
  #seccionesPrincipales
    #cards
      if ultimasEntradasPrimarias
        #cardFisico.card 
          .contenidoCard
            if ultimasEntradasPrimarias[2].linkImagen
              .imagenDescripcion
                img(src=ultimasEntradasPrimarias[2].linkImagen)
              .descripcion 
                p #{ultimasEntradasPrimarias[2].descripcion}
            else 
              .descripcionSinImagen
                p #{ultimasEntradasPrimarias[2].descripcion}
          a(href="/"+ultimasEntradasPrimarias[2].nombreEnlace) 
           .leerMas LEER +
        #cardEmocional.card
          .contenidoCard
            if ultimasEntradasPrimarias[1].linkImagen
              .imagenDescripcion
                img(src=ultimasEntradasPrimarias[1].linkImagen)
              .descripcion 
                p #{ultimasEntradasPrimarias[1].descripcion}
            else 
              .descripcionSinImagen
                p #{ultimasEntradasPrimarias[1].descripcion}
          a(href="/"+ultimasEntradasPrimarias[1].nombreEnlace) 
           .leerMas LEER +      
        #cardEspiritual.card
          .contenidoCard 
            if ultimasEntradasPrimarias[0].linkImagen
              .imagenDescripcion
                img(src=ultimasEntradasPrimarias[0].linkImagen)
              .descripcion 
                p #{ultimasEntradasPrimarias[0].descripcion}
            else 
              .descripcionSinImagen
                p #{ultimasEntradasPrimarias[0].descripcion}
          a(href="/"+ultimasEntradasPrimarias[0].nombreEnlace) 
           .leerMas LEER +
    
      -contador=0
      while contador < 5
        .card
          if ultimasEntradas 
            .contenidoCard 
              if ultimasEntradas[contador].linkImagen
                .imagenDescripcion
                  img(src=ultimasEntradas[contador].linkImagen)
                .descripcion 
                  p #{ultimasEntradas[contador].descripcion}
              else 
                .descripcionSinImagen
                  p #{ultimasEntradas[contador].descripcion}
            a(href="/"+ultimasEntradas[contador].nombreEnlace) 
              .leerMas LEER +
        -contador++

  #masContenido
      #linea1
      a(href="/todocontenido") 
        #centro
          b MAS CONTENIDO +
      #linea2
        button.btn.btn-primary.scrollup(type="button") 
         b SUBIR