extends ../../../views/layout
block content
  script(type="text/javascript").
    homeCargado=true;
  #slider 
    #sliderImagenes.wrapper
      ul#sb-slider.sb-slider

      #shadow.shadow

      #nav-arrows.nav-arrows
        a.flecha(href="#") Next
        a.flecha(href="#") Previous
      
  #seccionesPrincipales
    #cards
      #cardFisico.card
        if ultimasEntradasPrimarias[3] 
          .contenidoCard
            if ultimasEntradasPrimarias[3].linkImagen
              .imagenDescripcion
                img(src=ultimasEntradasPrimarias[3].linkImagen)
              .descripcion 
                p #{ultimasEntradasPrimarias[3].descripcion}
            else 
              .descripcionSinImagen(id="d1")
                p#p1 #{ultimasEntradasPrimarias[3].descripcion}
          a(href="/"+ultimasEntradasPrimarias[3].nombreEnlace) 
           .leerMas LEER +
      .card
        if ultimasEntradas 
          .contenidoCard 
            if ultimasEntradas[0].linkImagen
              .imagenDescripcion
                img(src=ultimasEntradas[0].linkImagen)
              .descripcion 
                p #{ultimasEntradas[0].descripcion}
            else 
              .descripcionSinImagen(id="d2")
                p#p2 #{ultimasEntradas[0].descripcion}
          a(href="/"+ultimasEntradas[0].nombreEnlace) 
            .leerMas LEER +
      #cardEmocional.card
        if ultimasEntradasPrimarias[1]
          .contenidoCard
            if ultimasEntradasPrimarias[1].linkImagen
              .imagenDescripcion
                img(src=ultimasEntradasPrimarias[1].linkImagen)
              .descripcion 
                p #{ultimasEntradasPrimarias[1].descripcion}
            else 
              .descripcionSinImagen(id="d3")
                p#p3 #{ultimasEntradasPrimarias[1].descripcion}
          a(href="/"+ultimasEntradasPrimarias[1].nombreEnlace) 
           .leerMas LEER + 
      -cont=1
      -contp=4
      while cont < 3
        .card
          if ultimasEntradas 
            .contenidoCard 
              if ultimasEntradas[cont].linkImagen
                .imagenDescripcion
                  img(src=ultimasEntradas[cont].linkImagen)
                .descripcion 
                  p #{ultimasEntradas[cont].descripcion}
              else 
                .descripcionSinImagen(id="d"+contp)
                  p(id="p"+contp) #{ultimasEntradas[cont].descripcion}
            a(href="/"+ultimasEntradas[cont].nombreEnlace) 
              .leerMas LEER +
        -cont++     
        -contp++
      #cardEspiritual.card
        if ultimasEntradasPrimarias[0]
          .contenidoCard 
            if ultimasEntradasPrimarias[0].linkImagen
              .imagenDescripcion
                img(src=ultimasEntradasPrimarias[0].linkImagen)
              .descripcion 
                p #{ultimasEntradasPrimarias[0].descripcion}
            else 
              .descripcionSinImagen(id="d6")
                p#p6 #{ultimasEntradasPrimarias[0].descripcion}
          a(href="/"+ultimasEntradasPrimarias[0].nombreEnlace) 
           .leerMas LEER +
    
      -contador=3
      -contadorp=7
      while contador < 5
        .card
          if ultimasEntradas 
            .contenidoCard 
              if ultimasEntradas[contador].linkImagen
                .imagenDescripcion
                  img(src=ultimasEntradas[contador].linkImagen)
                .descripcion 
                  p #{ultimasEntradas[contador].descripcion}
              else 
                .descripcionSinImagen(id="d"+contadorp)
                  p(id="p"+contadorp) #{ultimasEntradas[contador].descripcion}
            a(href="/"+ultimasEntradas[contador].nombreEnlace) 
              .leerMas LEER +
        -contador++
        -contadorp++
  #masContenido
      #linea1
      a(href="/todocontenido") 
        #centro MAS CONTENIDO +
      #linea2
        button.btn.btn-primary.scrollup(type="button") 
         b SUBIR