extends ../../../views/layout
block content

  #slider 
    #sliderImagenes.wrapper
      ul#sb-slider.sb-slider
        li
          img(src="images/imageSlider/1.jpg" alt="image1")
          .sb-description
            h3 Creative Lifesaver
        li
          img(src="images/imageSlider/2.jpg" alt="image2")
          .sb-description
            h3 Honest Entertainer
        li
          img(src="images/imageSlider/3.jpg" alt="image1")
          .sb-description
            h3 Brave Astronaut
        li
          img(src="images/imageSlider/4.jpg" alt="image1")
          .sb-description
            h3 Affectionate Decision Maker
        li
          img(src="images/imageSlider/5.jpg" alt="image1")
          .sb-description
            h3 Faithful Investor
        li
          img(src="images/imageSlider/6.jpg" alt="image1")
          .sb-description
            h3 Groundbreaking Artist
        li
          img(src="images/imageSlider/7.jpg" alt="image1")
          .sb-description
            h3 Selfless Philantropist

      #shadow.shadow

      #nav-arrows.nav-arrows
        a(href="#") Next
        a(href="#") Previous

      #nav-dots.nav-dots
        span.nav-dot-current
        span
        span
        span
        span
        span
        span
      
  #seccionesPrincipales
    #card-1.cardStatic
      .content.fisico
        p FISICO 
        #leerMas
          a(href="#") LEER +

    #card-2.cardStatic
      .content.emocional 
        p EMOCIONAL
        #leerMas
          a(href="#") LEER +

    #card-3.cardStatic
      .content.espiritual
        p ESPIRITUAL 
        #leerMas
          a(href="#") LEER +

    #card-4.card
      .cards.front
      .cards.back   
      ul.store
        each pagina in paginas
            li 
              if pagina.categoria == "fisico"
                .content.fisico 
                  if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                  #descripcion 
                    p #{pagina.descripcion}
                  #leerMas
                    a(href=pagina.nombreEnlace) LEER +
              if pagina.categoria=="emocional"
                .content.emocional 
                  if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                  #descripcion 
                    p #{pagina.descripcion}
                  #leerMas
                    a(href=pagina.nombreEnlace) LEER +
              if pagina.categoria=="espiritual"
                .content.espiritual
                  if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                  #descripcion 
                    p #{pagina.descripcion}
                  #leerMas
                    a(href=pagina.nombreEnlace) LEER +
              if pagina.categoria=="sinCategoria"
                .content.otro 
                  if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                  #descripcion 
                    p #{pagina.descripcion}
                  #leerMas
                    a(href=pagina.nombreEnlace) LEER +

    #card-5.card
      .cards.front
      .cards.back
      ul.store
        each pagina in paginas
          li 
            if pagina.categoria == "fisico"
              .content.fisico 
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +
            if pagina.categoria=="emocional"
              .content.emocional 
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +
            if pagina.categoria=="espiritual"
              .content.espiritual
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +
            if pagina.categoria=="sinCategoria"
              .content.otro 
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +

    #card-6.card
      .cards.front
      .cards.back
      ul.store
        each pagina in paginas
          li 
            if pagina.categoria == "fisico"
              .content.fisico 
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +
            if pagina.categoria=="emocional"
              .content.emocional 
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +
            if pagina.categoria=="espiritual"
              .content.espiritual
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +
            if pagina.categoria=="sinCategoria"
              .content.otro 
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +

    #card-7.card
      .cards.front
      .cards.back
      ul.store
        each pagina in paginas
          li 
            if pagina.categoria == "fisico"
              .content.fisico 
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +
            if pagina.categoria=="emocional"
              .content.emocional 
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +
            if pagina.categoria=="espiritual"
              .content.espiritual
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +
            if pagina.categoria=="sinCategoria"
              .content.otro 
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +

    #card-8.card
      .cards.front
      .cards.back
      ul.store
        each pagina in paginas
          li 
            if pagina.categoria == "fisico"
              .content.fisico 
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +
            if pagina.categoria=="emocional"
              .content.emocional 
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +
            if pagina.categoria=="espiritual"
              .content.espiritual
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +
            if pagina.categoria=="sinCategoria"
              .content.otro 
                if pagina.linkImagen
                    #imagenDescripcion
                      img(src=pagina.linkImagen)
                #descripcion 
                  p #{pagina.descripcion}
                #leerMas
                    a(href=pagina.nombreEnlace) LEER +

  #masContenido
      #linea1
      #centro
        a(href="/todocontenido") 
          b MAS CONTENIDO +
      #linea2
        button.btn.btn-primary.scrollup(type="button") 
         b SUBIR