extends ../../../views/layout
block content
  #linksPrincipales(style="display:none")
  #contenidoPagina
    if pagina
      h1#tituloPagina #{pagina.titulo}
      #fecha
        #linea1
        #centro(fecha=pagina.fechaCreacion)
          span 
        #linea2
      #descripcion
        p 
          b #{pagina.descripcion}
      #elemento
        | !{pagina.contenido}
      #redesSociales
        #facebook
          a(href="https://www.facebook.com/sharer/sharer.php?u= http://www.conexionbienestar.com/"+pagina.nombreEnlace)
            .icon 
          .izquierda
          .contador
            b 0
        #twitter
          a(href="https://twitter.com/?status=Me gusta esta página  http://www.conexionbienestar.com/"+pagina.nombreEnlace)
            .icon 
          .izquierda
          .contador
            b 0
        #correo
          a(href="https://plus.google.com/share?url=http://www.conexionbienestar.com/"+pagina.nombreEnlace)
            .icon 
    else
      h1 #{error}
  #botonSubir
    button.btn.btn-primary.scrollup(type="button") 
      b SUBIR