extends ../../../views/layout
block content
  if administrador
    #editarMenu
      h1 EDITAR MENU
      #accordion.panel-group
        - var contador = 0
        each menu in [{titulo:"Quines Somos", arregloSubmenu:[{titulo:"Sobre Nosotros", url:"#"},{titulo:"Informacion Centros", url:"#"},{titulo:"Franquicias", url:"#"}, {titulo:"Plataforma de difusión", url:"#"}]},{titulo:"Ayudar", arregloSubmenu:[{titulo:"Como Voluntario", url:"#"},{titulo:"Hacer Donación", url:"#"}]},{titulo:"Certificaciones", arregloSubmenu:[{titulo:"Salud Física", url:"#"},{titulo:"Salud Emocional", url:"#"},{titulo:"Conexión Espiritual", url:"#"}]},{titulo:"Eventos", arregloSubmenu:[]},{titulo:"Club Amigos", arregloSubmenu:[]},{titulo:"Yo soy tu", arregloSubmenu:[]},{titulo:"Video", arregloSubmenu:[]},{titulo:"Tienda Sana", arregloSubmenu:[]},{titulo:"Contacto", arregloSubmenu:[{titulo:"On-line", url:"#"},{titulo:"Por teléfono", url:"#"}]},{titulo:"Ejemplo1", arregloSubmenu:[]},{titulo:"Ejemplo2", arregloSubmenu:[]},{titulo:"Ejemplo3", arregloSubmenu:[]}]
          .panel.panel-primary
            .panel-heading(id="titulo"+contador)
              h2.panel-title #{menu.titulo}
              h3.editar.panel-title 
                a.accordion-toggle(titulo="titulo"+contador data-toggle="collapse" data-parent="#accordion" href="#"+contador) Editar 
            .panel-collapse.collapse(id=contador)
              form#formEditarMenu(method="POST", action="/admin/menu/editar")
                input(type="hidden" name="nombreMenuOriginal" value=menu.titulo)
                .panel-body
                  .tituloMenu
                    input(type="text" name="tituloMenu" value=menu.titulo)
                    .acciones
                      a(href="javascript: document.formEditarMenu.submit();") Guardar 
                      span &nbsp; | &nbsp;
                      a(href="/admin/menu/eliminar") Eliminar
                      span &nbsp; | &nbsp;
                      a.cancelar.accordion-toggle(titulo="titulo"+contador data-toggle="collapse" data-parent="#accordion" href="#"+contador) Cancelar
                  if menu.arregloSubmenu.length>0
                    .tituloSubmenu
                      h3 SUBMENU
                if menu.arregloSubmenu.length>0
                  table.table
                    tr
                      td 
                        h5 
                          b #
                      td 
                        h5
                          b Titulo 
                      td 
                        h5
                          b Url 
                      td 
                        h5
                          b Acción
                    each submenu, index in menu.arregloSubmenu
                      input(type="hidden" name="nombreSubmenuOriginal" value=submenu.titulo)
                      tr
                        td=index+1
                        td 
                          input(type="text" name="tituloSubmenu["+index+"]" value=submenu.titulo)
                        td 
                          input(type="text" name="urlMenu["+index+"]" value=submenu.url) 
                        td  
                          a(href="#") Eliminar

                .botonSubmenu
                      button.btn.btn-primary.btn-sm(type="button") Agregar Submenu
          -contador++

      #botones
        button#agregarMenu.btn.btn-primary(type="button") Agregar Menu 
        span &nbsp; &nbsp; &nbsp;
        button.btn.btn-primary(type="button" onclick="location.href='/admin'") Regresar 
  else
    #noAdmin 
      h1 ¡No eres administrador!  