extends ../../../views/layout
block content
  if administrador
    #editarPaginas
      h3 EDITAR PAGINAS 
      table#tablaEditarPaginas
        each pagina in pagsAdmin
          tr
            td.columnaTitulo
              span 
                a(href="/"+pagina.nombreEnlace target="_blank") #{pagina.titulo}
            td.columnaUsuario
              span #{pagina.creador}
            td.columnaFecha
              span #{pagina.fechaCreacion} 
            td.columnaAcciones
              a(href="/admin/pagina/editar/"+pagina.nombreEnlace) Editar 
              span &nbsp; | &nbsp;
              a.eliminarPagina(href="javascript:void(0);" enlace=pagina.nombreEnlace pagina=pagina.titulo) Eliminar
              span &nbsp; | &nbsp;
              if pagina.publicar
                a(href="/admin/pagina/cambiarEstado/"+pagina.nombreEnlace) Dejar de publicar
              else
                a(href="/admin/pagina/cambiarEstado/"+pagina.nombreEnlace) Publicar
              span &nbsp; 
        tr
          td.botones(colspan="2")
            button.btn.btn-primary(onclick="location.href='/admin/pagina/nueva'") Pagina Nueva
          td.botones(colspan="2")
            button.btn.btn-primary(onclick="location.href='/admin'") Regresar
  else
    #noAdmin 
      h1 ¡No eres administrador!  