doctype html
html
  head    
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet" type="text/css" href="/plugins/Slicebox/css/slicebox.css")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='/js/jquery-1.11.2.min.js')   
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/plugins/ckeditor/ckeditor.js') 
    script(type='text/javascript', src='/js/fileinput.min.js')  
    script(type='text/javascript', src='/js/script.js')   
    script(type="text/javascript" src="/plugins/Slicebox/js/modernizr.custom.46884.js")
    script(type="text/javascript" src="/plugins/Slicebox/js/jquery.slicebox.js")
  p #{message}
  body
    script(type="text/javascript").
      pag=!{JSON.stringify(paginas)};
      administrador="!{administrador}";
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/")
            img(alt="Brand" src="/images/logo.png" width="110" height="50")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar          
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          #scrollMenu
            ul#menu.nav.navbar-nav
          ul#botonIngresar.nav.navbar-nav.navbar-right
            li 
              button#botonIngresar.btn.btn-primary.navbar-btn(type="button" onclick="location.href='/admin'") 
                if(administrador)
                  span ADMINISTRAR 
                else 
                  span INGRESAR 

    #contenido
     block content
    
    footer.footer
      .container
        #tituloFundacion
          p FUNDACION CONEXIÓN BIENESTAR
        #enlaces
          table#tablaEnlaces

        #copyright
          p Copyright @arleyViviana Todos los derechos reservados