doctype html
html
  head    
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title= title
    link(rel='stylesheet' type='text/css' href='/plugins/Slicebox/css/slicebox.css')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' type="text/css" href="/css/yamm.css")
    link(rel='stylesheet' href='/css/core.css')
    link(rel='stylesheet' href='/css/style.css')
    script(type='text/javascript' src='/js/jquery-1.11.2.min.js')
    script(type='text/javascript' src='/js/bootstrap.min.js')
    script(type='text/javascript' src='/plugins/ckeditor/ckeditor.js') 
    script(type='text/javascript' src='/js/bootbox.min.js') 
    script(type='text/javascript' src='/js/core.js') 
    script(type='text/javascript' src='/plugins/Slicebox/js/modernizr.custom.46884.js')
    script(type='text/javascript' src='/plugins/Slicebox/js/jquery.slicebox.js')
    script(type='text/javascript' src='/js/script.js')  
  body
    script(type="text/javascript").
      //Solo para etapa de desarrollo
      var message= "#{message}";
      if(message)
        alert(message);
      pag=!{JSON.stringify(paginas)};    
    .navbar.yamm.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/")
            img(alt="Brand" src="/images/logo.png" width="100" height="50")
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse-1")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-collapse-1.navbar-collapse.collapse
          ul.nav.navbar-nav
            -var indice = 0
            -var tamano = 9
            each menu in menus
              if indice<tamano
                li.dropdown
                  .colorMenu
                  a.dropdown-toggle(data-toggle="dropdown" href="javascript:void(0);") #{menu.titulo}
                  if menu.submenus.length>0
                    ul.submenus.dropdown-menu.colorSubmenu
                      li.grid-demo
                        .row
                          .col-sm-6
                            ul.yamm-content.list-unstyled(role="menu")
                              each submenu, index in menu.submenus
                                li 
                                  a.tituloSubmenu(tabindex="-1" href="/"+submenu.url) #{submenu.titulo}
                                if index < (menu.submenus.length-1)
                                  li.divider
                          .divImagenSubmenu.col-sm-6
                            img(src="/images/logoBlanco.png" width="200")
              -indice++
            if indice>tamano
              li.dropdown.yamm-fw
                a.dropdown-toggle(data-toggle="dropdown" href="javascript:void(0);") Mas..
                  b.caret
                ul.dropdown-menu
                  li
                    .yamm-content
                      .row
                        each menu, index in menus
                          if index>=tamano
                            ul.col-sm-2.list-unstyled
                              li
                                p
                                  strong #{menu.titulo}
                              each submenu in menu.submenus
                                li
                                  a(href=submenu.url) #{submenu.titulo} 
                              li.divider

          ul#botonIngresar.nav.navbar-nav.navbar-right
            li.dropdown
              .btn-group
                if user
                  if user.rol == "administrador"
                    button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown") Admin 
                      span.caret
                    ul.dropdown-menu(role="menu")
                      li 
                        a(href="/admin") Administrar Contenido
                      li 
                        a(href="/user/logout") Salir
                  else
                    button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown") #{user.nickName} 
                      span.caret
                    ul.dropdown-menu(role="menu")
                      li 
                        a(href="/user/logout") Salir
                     
                else
                  button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
                    span INGRESAR
                  .dropdown-menu
                    #login
                      h5 
                        b INGRESA TUS DATOS
                      form(method="POST" action="/user/login")
                        #datos 
                          input(type="text" name="usuario" autofocus placeholder="Usuario" required) 
                          span *
                          input(type="password" name="contrasena" placeholder="Contraseña" required) 
                          span *
                        #registrarse
                          a(href="/user/signup")
                            span Registrarse
                        #olvidoContrasena
                          a(href="#")
                            span ¿Olvidó Contraseña?
                        #boton
                          button.btn(type="submit") OK

    header.fixed
      section
        article.inner_header.rosado.fixed
          #parametrosBuscar
            form#formularioBuscar(method="POST", action="/admin/pagina/buscar")
              #palabraBuscar
                input(type="text" name="busqueda" placeholder="Ingresar Busqueda" required)
              #botonBuscar
                button.btn(type="submit") 
                  img(src="/images/buscar.svg")
          #resultadoBuscar
            ul 
        article.inner_header.naranja.fixed
        article.inner_header.morado.fixed
        article.inner_header.azulOscuro.fixed
        article.inner_header.azulClaro.fixed
        article.inner_header.verde.fixed
        article.inner_header.amarillo.fixed
      nav(class="")
        ul
          li
            a(href="javascript:void(0);" id="rosado") 
              img(src="/images/buscar.svg")
          li
            a(href="javascript:void(0);" id="naranja") 
              img(src="/images/feliz.svg")
          li
            a(href="javascript:void(0);" id="morado")
              img(src="/images/sos.png")
          li
            a(href="javascript:void(0);" id="azulOscuro") 
              img(src="/images/compartir.svg")
          li
            a(href="javascript:void(0);" id="azulClaro") 
              img(src="/images/shopping-cart.svg")
          li
            a(href="javascript:void(0);" id="verde") 
              img(src="/images/video-camera.svg")
          li
            a(href="javascript:void(0);" id="amarillo") 
              img(src="/images/calendar.svg")
    #contenido
      block content

    #piePagina
      #izquierda
        form(method="POST", action="#")
          input(type="email" placeholder="INSCRIBETE A NEWSLETTER" required)
          button.btn(type="submit") OK
      #derecha
        a(href="javascript:void(0);")
          b COMUNIDAD PROFESIONAL
        span &nbsp; - &nbsp;
        a(href="javascript:void(0);") POLÍTICAS DE MANEJO
        span &nbsp; - &nbsp;
        a(href="javascript:void(0);") TÉRMINOS Y CONDICIONES
        span &nbsp; - &nbsp;
        span FUNDACIÓN CONEXIÓN BIENESTAR &copy; 2015