doctype html
html
  head    
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet' type='text/css' href='/plugins/Slicebox/css/slicebox.css')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' type="text/css" href="/css/yamm.css")
    link(rel='stylesheet' href='/css/style.css')
    script(type='text/javascript' src='/js/jquery-1.11.2.min.js')   
    script(type='text/javascript' src='/js/bootstrap.min.js')
    script(type='text/javascript' src='/plugins/ckeditor/ckeditor.js') 
    script(type='text/javascript' src='/js/flip.js')  
    script(type='text/javascript' src='/js/bootbox.min.js') 
    script(type='text/javascript' src='/js/script.js')   
    script(type='text/javascript' src='/plugins/Slicebox/js/modernizr.custom.46884.js')
    script(type='text/javascript' src='/plugins/Slicebox/js/jquery.slicebox.js')
  p #{message}
  body
    script(type="text/javascript").
      pag=!{JSON.stringify(paginas)};
      administrador="!{administrador}";   
    .navbar.yamm.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/")
            img(alt="Brand" src="/images/logo.png" width="110" height="50")
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse-1")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-collapse-1.navbar-collapse.collapse
          ul#menu.nav.navbar-nav
            //Aqui va el menu
          ul#botonIngresar.nav.navbar-nav.navbar-right
            li 
              button#botonIngresar.btn.btn-primary.navbar-btn(type="button" onclick="location.href='/admin'") 
                if(administrador)
                  span ADMINISTRAR 
                else 
                  span INGRESAR 

    #contenido
     block content
    
    footer.footer
      .container
        #tituloFundacion
          p FUNDACION CONEXIÓN BIENESTAR
        #enlaces
          table#tablaEnlaces

        #copyright
          p Copyright @arleyViviana Todos los derechos reservados