doctype html
html
  head    
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title= title
    link(rel='stylesheet' type='text/css' href='/plugins/Slicebox/css/slicebox.css')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' type="text/css" href="/css/yamm.css")
    link(rel='stylesheet' href='/css/core.css')
    link(rel='stylesheet' href='/css/style.css')
    script(type='text/javascript' src='/js/jquery-1.11.2.min.js')
    script(type='text/javascript' src='/js/bootstrap.min.js')
    script(type='text/javascript' src='/plugins/ckeditor/ckeditor.js') 
    script(type='text/javascript' src='/js/bootbox.min.js') 
    script(type='text/javascript' src='/js/core.js') 
    script(type='text/javascript' src='/plugins/Slicebox/js/modernizr.custom.46884.js')
    script(type='text/javascript' src='/plugins/Slicebox/js/jquery.slicebox.js')
    script(type='text/javascript' src='/js/script.js')  
  body
    script(type="text/javascript").
      //Solo para etapa de desarrollo
      var message= "#{message}";
      if(message)
        alert(message);
      pag=!{JSON.stringify(paginas)};    
    .navbar.yamm.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/")
            img(alt="Brand" src="/images/logo.png" width="100" height="50")
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse-1")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-collapse-1.navbar-collapse.collapse
          ul.nav.navbar-nav
            -var indice = 0
            -var tamano = 9
            each menu in menus
              if indice<tamano
                li.dropdown.yamm-fw
                  .colorMenu
                  a.dropdown-toggle(data-toggle="dropdown" href="/") #{menu.titulo}
                  if menu.submenus.length>0
                    ul.submenus.dropdown-menu.colorSubmenu(id="li"+indice) 
                      li
                        .yamm-content
                          .row
                            .col-sm-9
                              ul.yamm-content.list-unstyled(role="menu")
                                each submenu, index in menu.submenus
                                  li
                                    a.tituloSubmenu(tabindex="-1" href="/") #{submenu.titulo}
                                  if index < (menu.submenus.length-1)
                                    li.divider
                            .divImagenSubmenu.col-sm-3
                              img(src="/images/logoBlanco.png")
              -indice++
            if indice>tamano
              li.dropdown.yamm-fw.mas
                a.dropdown-toggle(data-toggle="dropdown" href="javascript:void(0);") 
                  b +
                ul.dropdown-menu
                  li
                    .yamm-content
                      .row
                        each menu, index in menus
                          if index>=tamano
                            ul.col-sm-2.list-unstyled
                              li
                                a(href="/")
                                  p
                                    strong #{menu.titulo}
                              each submenu in menu.submenus
                                li
                                  a(href="/") #{submenu.titulo} 
                              li.divider

          ul#botonIngresar.nav.navbar-nav.navbar-right
            li.dropdown
              .btn-group
                if user
                  if user.rol == "administrador"
                    button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown") Admin 
                      span.caret
                    ul.dropdown-menu(role="menu")
                      li 
                        a(href="/admin") Administrar Contenido
                      li 
                        a(href="/user/logout") Salir
                  else
                    button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown") #{user.nickName} 
                      span.caret
                    ul.dropdown-menu(role="menu")
                      li 
                        a(href="/user/logout") Salir
                     
                else
                  button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
                    span INGRESAR
                  .dropdown-menu
                    #login
                      h5 
                        b INGRESA TUS DATOS
                      form(method="POST" action="/user/login")
                        #datos 
                          input(type="text" name="usuario" autofocus placeholder="Usuario" required) 
                          span *
                          input(type="password" name="contrasena" placeholder="Contraseña" required) 
                          span *
                        #registrarse
                          a(href="/user/signup")
                            span Registrarse
                        #olvidoContrasena
                          a(href="#")
                            span ¿Olvidó Contraseña?
                        #boton
                          button.btn(type="submit") OK

    header.fixed
      section
        article.inner_header.rosado.fixed
          #parametrosBuscar
            form#formularioBuscar(method="POST", action="/admin/pagina/buscar")
              #palabraBuscar
                input(type="text" name="busqueda" placeholder="REALIZAR BUSQUEDA" required)
              #botonBuscar
                button.btn(type="submit") 
                  img(src="/images/buscar.svg")
          #resultadoBuscar
            ul 
        article.inner_header.azulClaro.fixed
          #clubAmigos
            #tituloClub
              span 
                b &bull; CLUB AMIGOS 
            p sdljflskd sdklfsldkf sdlkfsdlkjs sdlfkjlkdsfj sdkdsfsld kdlsjf sdklklfjdsj dklsjfsl skllksf slkflks dslkslkj 
            #accordionClubAmigos.panel-group
              .panel.panel-primary
                .panel-heading
                  h3.panel-title 
                    a.accordion-toggle(data-toggle="collapse" data-parent="#accordionClubAmigos" href="#panelCollapseRegistro") REGISTRO 
                #panelCollapseRegistro.panel-collapse.collapse.in 
                  form(method="POST" action="/" name="formularioRegistro")
                    .panel-body
                      input(type="text" placeholder="TU NOMBRE" name="nombre" required)
                      input(type="password" placeholder="CONTRASEÑA" name="contrasena" required)
                      input(type="email" placeholder="TU MAIL" name="correo" required)
                      br
                      input(type="checkbox" name="terminos") 
                      span &nbsp; ACEPTO &nbsp;
                      a(href="javascript:void(0);")
                        b TERMINOS Y CONDICIONES
                      br 
                      button.btn(type="submit") OK
              .panel.panel-primary
                .panel-heading
                  h3.panel-title 
                    a.accordion-toggle(data-toggle="collapse" data-parent="#accordionClubAmigos" href="#panelCollapseIngresar") INGRESAR 
                #panelCollapseIngresar.panel-collapse.collapse
                  form(method="POST" action="/" name="formularioIngresar")
                    .panel-body
                      input(type="text" placeholder="USUARIO" name="usuario" required)
                      input(type="password" placeholder="CONTRASEÑA" name="contrasena" required)
                      br 
                      a(href="javascript:void(0);") RECUPERAR CONTRASEÑA
                      button.btn(type="submit") OK 
        article.inner_header.morado.fixed
          #ayudaConexion
            #tituloAyuda
              span
                b &bull; AYUDA CONEXIÓN
            p sdljflskd sdklfsldkf sdlkfsdlkjs sdlfkjlkdsfj sdkdsfsld kdlsjf sdklklfjdsj dklsjfsl skllksf slkflks dslkslkj 
            #serVoluntario
              span
                b SER VOLUNTARIO
              form(method="POST" action="/" name="formularioSerVoluntario") 
                input(type="text" placeholder="TU NOMBRE" name="nombre" required)
                input(type="email" placeholder="TU MAIL" name="correo" required)
                br 
                button.btn(type="submit") OK 
            #tuDonacionAqui
              span
                b TU DONACIÓN AQUÍ
              br 
              button.btn(type="button") DONAR 
        article.inner_header.verde.fixed
          #comunidad 
            #tituloComunidad
              span 
                b &bull; COMUNIDAD 
            p sdljflskd sdklfsldkf sdlkfsdlkjs sdlfkjlkdsfj sdkdsfsld kdlsjf sdklklfjdsj dklsjfsl skllksf slkflks dslkslkj 
            #iconos
              a(href="javascript:void(0);")
                img(src="/images/blogBlanco.svg") 
              a(href="javascript:void(0);")
                img(src="/images/facebookBlanco.svg")
              a(href="javascript:void(0);")
                img(src="/images/twitterBlanco.svg")
              a(href="javascript:void(0);")
                img(src="/images/youtubeBlanco.svg")
              a(href="javascript:void(0);")
                img(src="/images/instagramBlanco.svg")
        article.inner_header.naranja.fixed
          #tiendaSana
            #tituloTienda
              span 
                b &bull; TIENDA SANA 
            p sdljflskd sdklfsldkf sdlkfsdlkjs sdlfkjlkdsfj sdkdsfsld kdlsjf sdklklfjdsj dklsjfsl skllksf slkflks dslkslkj 
            #botonTienda
              span
                b ENTRAR A LA TIENDA 
              button.btn(type="button") COMPRAR 
        article.inner_header.amarillo.fixed
          #videoConexion
            #tituloVideo
              span
                b &bull; VIDEO CONEXION 
            p sdljflskd sdklfsldkf sdlkfsdlkjs sdlfkjlkdsfj sdkdsfsld kdlsjf sdklklfjdsj dklsjfsl skllksf slkflks dslkslkj 
            #video 
              video(src="https://www.youtube.com/watch?v=lj7IQDeBNlI" preload loop controls)
            p sdljflskd sdklfsldkf sdlkfsdlkjs sdlfkjlkdsfj sdkdsfsld kdlsjf sdklklfjdsj dklsjfsl skllksf slkflks dslkslkj 
            a(href="javascript:void(0);")
              span
                b VER TODOS LOS VIDEOS
        article.inner_header.azulOscuro.fixed
          #calendarioEventos
            #tituloCalendario
              span
                b &bull; CALENDARIO EVENTOS 
            p sdljflskd sdklfsldkf sdlkfsdlkjs sdlfkjlkdsfj sdkdsfsld kdlsjf sdklklfjdsj dklsjfsl skllksf slkflks dslkslkj 
            #eventos 
              .divEvento
                .titulo
                  span 
                    b.numero 28
                    b.mes &nbsp; Abril
                p sdljflskd sdklfsldkf sdlkfsdlkjs
                a(href="javascript:void(0);") 
                  span VER +
              .divEvento
                .titulo
                  span 
                    b.numero 6
                    b.mes  &nbsp; Mayo
                p sdljflskd sdklfsldkf sdlkfsdlkjs
                a(href="javascript:void(0);") 
                  span VER +
              .divEvento
                .titulo
                  span 
                    b.numero 15
                    b.mes &nbsp; Junio
                p sdljflskd sdklfsldkf sdlkfsdlkjs
                a(href="javascript:void(0);") 
                  span VER +
              .divEvento 
                .titulo
                  span 
                    b.numero 5
                    b.mes &nbsp; Julio
                p sdljflskd sdklfsldkf sdlkfsdlkjs
                a(href="javascript:void(0);") 
                  span VER +
      nav(class="")
        ul
          li
            a(href="javascript:void(0);" id="rosado") 
              img(src="/images/buscar.svg")
          li
            a(href="javascript:void(0);" id="azulClaro") 
              img(src="/images/feliz.svg")
          li
            a(href="javascript:void(0);" id="morado")
              img(src="/images/sos.png")
          li
            a(href="javascript:void(0);" id="verde") 
              img(src="/images/compartir.svg")
          li
            a(href="javascript:void(0);" id="naranja") 
              img(src="/images/shopping-cart.svg")
          li
            a(href="javascript:void(0);" id="amarillo") 
              img(src="/images/video-camera.svg")
          li
            a(href="javascript:void(0);" id="azulOscuro") 
              img(src="/images/calendar.svg")
    #contenido
      block content

    #piePagina
      #izquierda
        form(method="POST", action="#")
          input(type="email" placeholder="INSCRIBETE A NEWSLETTER" required)
          button.btn(type="submit") OK
      #derecha
        a(href="javascript:void(0);")
          b COMUNIDAD PROFESIONAL
        span &nbsp; - &nbsp;
        a(href="javascript:void(0);") POLÍTICAS DE MANEJO
        span &nbsp; - &nbsp;
        a(href="javascript:void(0);") TÉRMINOS Y CONDICIONES
        span &nbsp; - &nbsp;
        span FUNDACIÓN CONEXIÓN BIENESTAR &copy; 2015