doctype html
html
  head    
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet' type='text/css' href='/plugins/Slicebox/css/slicebox.css')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' type="text/css" href="/css/yamm.css")
    link(rel='stylesheet' href='/css/style.css')
    script(type='text/javascript' src='/js/jquery-1.11.2.min.js')   
    script(type='text/javascript' src='/js/bootstrap.min.js')
    script(type='text/javascript' src='/plugins/ckeditor/ckeditor.js') 
    script(type='text/javascript' src='/js/flip.js')  
    script(type='text/javascript' src='/js/bootbox.min.js') 
    script(type='text/javascript' src='/js/script.js')   
    script(type='text/javascript' src='/plugins/Slicebox/js/modernizr.custom.46884.js')
    script(type='text/javascript' src='/plugins/Slicebox/js/jquery.slicebox.js')
  body
    script(type="text/javascript").
      //Solo para etapa de desarrollo
      var message= "#{message}";
      if(message)
        alert(message);
      pag=!{JSON.stringify(paginas)};
    
    .navbar.yamm.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/")
            img(alt="Brand" src="/images/logo.png" width="100" height="50")
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse-1")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-collapse-1.navbar-collapse.collapse
          ul.nav.navbar-nav
            -var indice = 0
            -var tamano = 8
            each menu in menus
              if indice<tamano
                li.dropdown
                  a.dropdown-toggle(data-toggle="dropdown" href="javascript:void(0);") #{menu.titulo}
                    if menu.submenus.length>0
                      b.caret
                  if menu.submenus.length>0
                    ul.submenus.dropdown-menu
                      li.grid-demo
                        .row
                          .col-sm-6
                            ul.yamm-content.list-unstyled(role="menu")
                              each submenu, index in menu.submenus
                                li 
                                  a(tabindex="-1" href=submenu.url) #{submenu.titulo}
                                if index < (menu.submenus.length-1)
                                  li.divider
                          .divImagenSubmenu.col-sm-6
                            img(src="/images/logo.png" width="200")
              -indice++
            if indice>=tamano
              li.dropdown.yamm-fw
                a.dropdown-toggle(data-toggle="dropdown" href="javascript:void(0);") Mas..
                  b.caret
                ul.dropdown-menu
                  li
                    .yamm-content
                      .row
                        each menu, index in menus
                          if index>=tamano
                            ul.col-sm-2.list-unstyled
                              li
                                p
                                  strong #{menu.titulo}
                              each submenu in menu.submenus
                                li
                                  a(href=submenu.url) #{submenu.titulo} 
                              li.divider

          ul#botonIngresar.nav.navbar-nav.navbar-right
            li 
              .btn-group
                button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
                  if user 
                    if user.rol == "administrador"
                      span ADMINISTRAR 
                    if user.rol == "usuario"
                      span Hola #{user.nickname}
                  else 
                    span INGRESAR
                .dropdown-menu
                  if !user
                    #login
                      h5 
                        b INGRESA TUS DATOS
                      form(method="POST", action="/user/login")
                        #datos 
                          input(type="text" name="usuario" autofocus placeholder="Usuario") 
                          span *
                          input(type="password" name="contrasena" placeholder="Contraseña") 
                          span *
                        #registrarse
                          a(href="/user/signup")
                            span Registrarse
                        #olvidoContrasena
                          a(href="#")
                            span ¿Olvidó Contraseña?
                        #boton
                          button.btn(type="submit") OK
                  else
                    #logout_administrar
                      if user.rol=="administrador"
                          a(href="/admin") Administrar
                      else
                          a(href="/user/logout") Salir

    #contenido
     block content
    
    footer.footer
      .container
        #tituloFundacion
          p FUNDACION CONEXIÓN BIENESTAR
        #enlaces
          table#tablaEnlaces

        #copyright
          p Copyright @arleyViviana Todos los derechos reservados